
@{
    ViewBag.Title = "DanhSachNhanVien";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableNhanVien" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã nhân viên</th>
                        <th>Họ Tên</th>
                        <th>Chức vụ</th>
                        <th>Giới tính</th>
                        <th>Ngày sinh</th>
                        <th>Địa chỉ</th>
                        <th>Email</th>
                        <th>Điện thoại</th>
                        <th>Ngày làm việc</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã nhân viên</th>
                        <th>Họ Tên</th>
                        <th>Chức vụ</th>
                        <th>Giới tính</th>
                        <th>Ngày sinh</th>
                        <th>Địa chỉ</th>
                        <th>Email</th>
                        <th>Điện thoại</th>
                        <th>Ngày làm việc</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

