
@{
    ViewBag.Title = "DanhSachKhachHang";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Danh Sách Khách Hàng</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        &nbsp; <button type="button" id="btnCreateKh" data-toggle="modal" data-target="#createModalKh" class="btn btn-primary">Thêm</button>&nbsp;<a class="btn btn-primary" href="~/KhachHang/ExportToExcel" role="button"><i class="far fa-file-excel"></i> Xuất báo cáo</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableKhachHang" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã khách hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Địa chỉ</th>
                        <th>Điện thoại</th>
                        <th>Email</th>
                        <th>Quản lý</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã khách hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Địa chỉ</th>
                        <th>Điện thoại</th>
                        <th>Email</th>
                        <th>Quản lý</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!--Modal thêm nhân viên-->
<div class="modal fade" id="createModalKh" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thêm khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="makhachhangmoi" class="col-form-label">Mã khách hàng:</label>
                                <input type="text" class="form-control" id="makhachhangmoi">
                            </div>
                            <div class="col-md-8">
                                <label for="tenkhachhangmoi" class="col-form-label">Tên khách hàng:</label>
                                <input type="text" class="form-control" id="tenkhachhangmoi" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <label for="diachimoi" class="col-form-label">Địa chỉ:</label>
                                <input type="text" class="form-control" id="diachimoi" required>
                            </div>
                            <div class="col-md-5">
                                <label for="dienthoaimoi" class="col-form-label">Điện thoại:</label>
                                <input type="text" class="form-control" id="dienthoaimoi" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="emailmoi" class="col-form-label">Email:</label>
                                <input type="email" class="form-control" id="emailmoi" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id="submitCreateKh" class="btn btn-primary">Thêm khách hàng</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Sửa Khách Hàng-->
<div class="modal fade" id="editModalKh" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Sửa khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="makhachhang" class="col-form-label">Mã khách hàng:</label>
                                <input type="text" class="form-control" id="makhachhang" readonly>
                            </div>
                            <div class="col-md-8">
                                <label for="tenkhachhang" class="col-form-label">Tên khách hàng:</label>
                                <input type="text" class="form-control" id="tenkhachhang" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <label for="diachi" class="col-form-label">Địa chỉ:</label>
                                <input type="text" class="form-control" id="diachi" required>
                            </div>
                            <div class="col-md-5">
                                <label for="dienthoai" class="col-form-label">Điện thoại:</label>
                                <input type="text" class="form-control" id="dienthoai" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="email" class="col-form-label">Email:</label>
                                <input type="email" class="form-control" id="email" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id="submitChangesKh" class="btn btn-primary">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Xóa nhân viên-->
<!-- Modal -->
<div class="modal fade" id="deleteModalKh" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có muốn xóa khách hàng này không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="submitDeleteKh">Xóa</button>
            </div>
        </div>
    </div>
</div>

